.vscode/
.DS_Store
.env
.venv/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.err.log
**/*.out.log
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.db-journal
**/*.sqlite-journal
**/*.mp3
**/*.wav
**/.next/
**/node_modules/
frontend/public/avatar/
frontend/public/live2d/

